
<%= bootstrap_form_for(@board, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-7") do |f| %>
  <%= f.text_area :accomplishment %>
  <%= f.text_area :challenges %>
  <%= f.text_area :task %>
  <%= f.text_area :resources %>
  <div class="submitbutton">
  <%= f.submit "Submit" %>
	</div>
<% end %>


<%= form_with(model: board, local: true) do |form| %>
  <% if board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
        <% board.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% end %>