<p id="notice"><%= notice %></p>

<div class="container">
	<div class="row">
		<div class="pull-right range-query col" >

			<%= form_tag archive_path, method: :get do %>
			<!-- the search[date_from and date_to] is for user to input beginning and end of date -->
				<%= text_field_tag 'search[date_from]', @search.date_from %>
				<%= text_field_tag 'search[date_to]', @search.date_to %>
				<%= submit_tag 'Search', class: 'btn search-button' %>
			<% end %>
		</div>

		<div>
			<%= link_to 'Back', boards_path %>
		</div>
	</div>

<h2>Archive Board</h2>

	<div class="container">
  	<div class="row">
    	<div class="col-6">
    		<h2>Accomplishments</h2>
					<% @boards.each do |board| %>
						<p>
							<%= board.accomplishment %> by <span class="span-archive"><%= board.user.email %></span> || <%= board.created_at.strftime("Posted on %m/%d/%Y at %I:%M%p") %>
						</p>
					<% end %>
			</div>

    	<div class="col-6">
    		<h2>Challenges</h2>
					<% @boards.each do |board| %>
						<p>
							<%= board.challenges %> by <span class="span-archive"><%= board.user.email %></span> || <%= board.created_at.strftime("Posted on %m/%d/%Y at %I:%M%p") %>
						</p>
					<% end %>
			</div>

    	<div class="w-100"></div>

    	<div class="col-6">
    	<h2>Tasks</h2>
        <% @boards.each do |board| %>
					<p>
						<%= board.task %> by <span class="span-archive"><%= board.user.email %></span> || <%= board.created_at.strftime("Posted on %m/%d/%Y at %I:%M%p") %>
					</p>
				<% end %>
			</div>

    	<div class="col-6">
    		<h2>Resources</h2>
	      	<% @boards.each do |board| %>
						<p>
							<%= board.task %> by <span class="span-archive"><%= board.user.email %></span> || <%= board.created_at.strftime("Posted on %m/%d/%Y at %I:%M%p") %>
						</p>
					<% end %>
			</div>
  	</div>


	</div>

</div>