<p id="notice"><%= notice %></p>

	<%= form_tag archive_path, method: :get do %>
			<!-- the search[date_from and date_to] is for user to input beginning and end of date -->
		<%= text_field_tag 'search[date_from]', @search.date_from %>
		<%= text_field_tag 'search[date_to]', @search.date_to %>
		<%= submit_tag 'Search', class: 'btn search-button' %>
	<% end %>


		<div>
			<%= link_to 'Back', boards_path %>
		</div>
	</div>

<h2>Archive Board</h2>

<div class="container" id="wrapper">

	<div class="card" id="left">
	  <div class="card-header">
	    <h1>Accomplishments</h1>
	  </div>
	  <div class="card-body">
	    <blockquote class="blockquote mb-0">
	    	<% @boards.each do |board| %>
	    		<p>
							<%= board.accomplishment %> by <%= board.user.email %> <%= board.created_at.strftime(", posted on %m/%d/%Y at %I:%M%p") %>
					</p>
							<br>
						<% end %>
	    </blockquote>
	  </div>
	</div>

	<div class="card" id="right">
	  <div class="card-header">
	    <h1>Challenges</h1>
	  </div>
	  <div class="card-body">
	    <blockquote class="blockquote mb-0">
	    	<% @boards.each do |board| %>
					<p>
							<%= board.challenges %> by <%= board.user.email %><%= board.created_at.strftime(", posted on %m/%d/%Y at %I:%M%p") %>
					</p>
							<br>
						<% end %>
			</blockquote>
	  </div>
	</div>
</div>

<div class="container" id="wrapper">
	<div class="card" id="left">
	  <div class="card-header">
	    <h1>Tasks</h1>
	  </div>
	  <div class="card-body">
	    <blockquote class="blockquote mb-0">
	    	<% @boards.each do |board| %>
					<p>
						<%= board.task %> by <%= board.user.email %><%= board.created_at.strftime(", posted on %m/%d/%Y at %I:%M%p") %>
					</p>
							<br>
						<% end %>
			</blockquote>
	  </div>
	</div>

	<div class="card" id="right">
	  <div class="card-header">
	    <h1>Resources</h1>
	  </div>
	  <div class="card-body">
	    <blockquote class="blockquote mb-0">
	    	<% @boards.each do |board| %>
					<p>
						<%= board.resources %> by <%= board.user.email %><%= board.created_at.strftime(", posted on %m/%d/%Y at %I:%M%p") %>
					</p>
							<br>
						<% end %>
			</blockquote>
	  </div>
	</div>
</div>