<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
<h1>Hello <%= @user.email %></h1>
<% end %>

<div>
<form method="get" action="/archives">
    <button type="submit">View Archives</button>
</form>
</div>

<h1>Stand Up Board</h1>

  <div class="container">
  	<div class="row">
    	<div class="col-6">
    		<h2>Accomplishments</h2>
					<% @boardToday.each do |board| %>
						<p>
							Entry: <%= board.accomplishment %> created by <%= board.user.email %> at <%= board.created_at %>
						</p>
						<span>
							<%# link_to 'Show', board %>
						</span>
						<% if board.user == current_user %>
						<span>
							<%= link_to 'Edit', edit_board_path(board) %>
						</span>
						<span>
							<%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %>
						</span>
							<% end %>
					<% end %>
			</div>

    	<div class="col-6">
    		<h2>Challenges</h2>
					<% @boardToday.each do |board| %>
						<p>
							Entry: <%= board.challenges %> created by <%= board.user.email %> at <%= board.created_at %>
						</p>
						<span>
							<%= link_to 'Show', board %>
						</span>
						<span>
							<%= link_to 'Edit', edit_board_path(board) %>
						</span>
						<span>
							<%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %>
						</span>
					<% end %>
			</div>
    	<div class="w-100"></div>

    	<div class="col-6">
    	<h2>Tasks</h2>
        <% @boardToday.each do |board| %>
					<p>
						Entry: <%= board.task %> created by <%= board.user.email %> at <%= board.created_at %>
					</p>
					<span>
						<%= link_to 'Show', board %>
					</span>
					<span>
						<%= link_to 'Edit', edit_board_path(board) %>
					</span>
					<span>
						<%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %>
					</span>
				<% end %>
			</div>

    	<div class="col-6">
    		<h2>Resources</h2>
	      	<% @boardToday.each do |board| %>
						<p>
							Entry: <%= board.task %> created by <%= board.user.email %> at <%= board.created_at %>
						</p>
						<span>
							<%= link_to 'Show', board %>
						</span>
						<span>
							<%= link_to 'Edit', edit_board_path(board) %>
						</span>
						<span>
							<%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %>
						</span>
					<% end %>
			</div>
  	</div>

	</div>

<div class="index">
<% if user_signed_in? %>
<%= link_to 'New Entry', new_board_path %>
<% end %>
</div>