<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
<h1>Hello <%= @user.email %></h1>
<% end %>

<div>
<form method="get" action="/archives">
    <button type="submit">View Archives</button>
</form>
</div>


<h1>Stand Up Board</h1>

  <div class="container">
  	<div class="row">
    	<div class="col-6">
    		<h2>Accomplishments</h2>
					<% @boardToday.each do |board| %>
						<p>
							<%= board.accomplishment %> by <%= board.user.email %>
						<% if board.user == current_user %>
							<%= link_to edit_board_path(board) do %>
   							<%= image_tag 'edit.png',  style: 'height:2.5%;width:8%;'%>
							<% end %>
							<%= link_to board, method: :delete, data: { confirm: 'Are you sure?' } do %>
   							<%= image_tag 'delete.jpg',  style: 'height:2.5%;width:8%;'%>
							<% end %>
							<% end %>
						</p>
					<% end %>
			</div>

    	<div class="col-6">
    		<h2>Challenges</h2>
					<% @boardToday.each do |board| %>
						<p>
							<%= board.challenges %> by <%= board.user.email %>
						<% if board.user == current_user %>
							<%= link_to edit_board_path(board) do %>
   							<%= image_tag 'edit.png',  style: 'height:2.5%;width:8%;'%>
							<% end %>
							<%= link_to board, method: :delete, data: { confirm: 'Are you sure?' } do %>
   							<%= image_tag 'delete.jpg',  style: 'height:2.5%;width:8%;'%>
							<% end %>
							<% end %>
						</p>
					<% end %>
			</div>
    	<div class="w-100"></div>

    	<div class="col-6">
    	<h2>Tasks</h2>
        <% @boardToday.each do |board| %>
					<p>
						<%= board.task %> by <%= board.user.email %>
						<% if board.user == current_user %>
							<%= link_to edit_board_path(board) do %>
   							<%= image_tag 'edit.png',  style: 'height:2.5%;width:8%;'%>
							<% end %>
							<%= link_to board, method: :delete, data: { confirm: 'Are you sure?' } do %>
   							<%= image_tag 'delete.jpg',  style: 'height:2.5%;width:8%;'%>
							<% end %>
							<% end %>
						</p>
				<% end %>
			</div>

    	<div class="col-6">
    		<h2>Resources</h2>
	      	<% @boardToday.each do |board| %>
						<p>
							<%= board.task %> by <%= board.user.email %>
						<% if board.user == current_user %>
							<%= link_to edit_board_path(board) do %>
   							<%= image_tag 'edit.png',  style: 'height:2.5%;width:8%;'%>
							<% end %>
							<%= link_to board, method: :delete, data: { confirm: 'Are you sure?' } do %>
   							<%= image_tag 'delete.jpg',  style: 'height:2.5%;width:8%;'%>
							<% end %>
							<% end %>
						</p>
					<% end %>
			</div>
  	</div>

	</div>

<div class="index">
<% if user_signed_in? %>
<%= link_to 'New Entry', new_board_path %>
<% end %>
</div>