<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
<h1>Hello <%= @user.email %></h1>
<% end %>

<div>
<form method="get" action="/archives">
    <button type="submit">View Archives</button>
</form>
</div>

<!-- https://stackoverflow.com/questions/32800720/ruby-and-rails-date-today-format/32800904 to show today's date -->
<h1>Stand Up Board</h1>
<h3><%= Date.today.strftime('%a, %d %b %Y') %> </h3>

<div class="index">
<% if user_signed_in? %>
<%= link_to 'New Entry', new_board_path %>
<% end %>
</div>

<div class="container" id="wrapper">

<div class="card" id="left">
  <div class="card-header">
    <h1>Accomplishments</h1>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
    	<% @boardToday.each do |board| %>
						<h5>
							<%= board.accomplishment %>
						<% if board.user == current_user %>
							<%= link_to edit_board_path(board) do %>
   							<%= image_tag 'edit.png',  style: 'height:1.5%;width:4%;'%>
							<% end %>
							<%= link_to board, method: :delete, data: { confirm: 'Are you sure?' } do %>
   							<%= image_tag 'delete.jpg',  style: 'height:1.5%;width:4%;'%>
							<% end %>
							<% end %>
						</h5>
						<footer class="blockquote-footer"><cite title="Source Title">by <%= board.user.email %></cite></footer>
						<br>
					<% end %>
    </blockquote>
  </div>
</div>

<div class="card" id="right">
  <div class="card-header">
    <h1>Challenges</h1>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
    	<% @boardToday.each do |board| %>
						<h5>
							<%= board.challenges %>
						<% if board.user == current_user %>
							<%= link_to edit_board_path(board) do %>
   							<%= image_tag 'edit.png',  style: 'height:1.5%;width:4%;'%>
							<% end %>
							<%= link_to board, method: :delete, data: { confirm: 'Are you sure?' } do %>
   							<%= image_tag 'delete.jpg',  style: 'height:1.5%;width:4%;'%>
							<% end %>
							<% end %>
						</h5>
						<footer class="blockquote-footer"><cite title="Source Title">by <%= board.user.email %></cite></footer>
						<br>
					<% end %>
		</blockquote>
  </div>
</div>
</div>

<div class="container" id="wrapper">
<div class="card" id="left">
  <div class="card-header">
    <h1>Tasks</h1>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
    	<% @boardToday.each do |board| %>
						<h5>
							<%= board.task %>
						<% if board.user == current_user %>
							<%= link_to edit_board_path(board) do %>
   							<%= image_tag 'edit.png',  style: 'height:1.5%;width:4%;'%>
							<% end %>
							<%= link_to board, method: :delete, data: { confirm: 'Are you sure?' } do %>
   							<%= image_tag 'delete.jpg',  style: 'height:1.5%;width:4%;'%>
							<% end %>
							<% end %>
						</h5>
						<footer class="blockquote-footer"><cite title="Source Title">by <%= board.user.email %></cite></footer>
						<br>
					<% end %>
		</blockquote>
  </div>
</div>

<div class="card">
  <div class="card-header" id="right">
    <h1>Resources</h1>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
    	<% @boardToday.each do |board| %>
						<h5>
							<%= board.resources %>
						<% if board.user == current_user %>
							<%= link_to edit_board_path(board) do %>
   							<%= image_tag 'edit.png',  style: 'height:1.5%;width:4%;'%>
							<% end %>
							<%= link_to board, method: :delete, data: { confirm: 'Are you sure?' } do %>
   							<%= image_tag 'delete.jpg',  style: 'height:1.5%;width:4%;'%>
							<% end %>
							<% end %>
						</h5>
						<footer class="blockquote-footer"><cite title="Source Title">by <%= board.user.email %></cite></footer>
						<br>
					<% end %>
		</blockquote>
  </div>
</div>

</div>

<div class="index">
<% if user_signed_in? %>
<%= link_to 'New Entry', new_board_path %>
<% end %>
</div>