<p id="notice"><%= notice %></p>

<div class="container">
<div class="row">

  <div class="col-6">
  	<strong>Accomplishment:</strong>
  	<%= @board.accomplishment %>
	</div>

  <div class="col-6">
  	<strong>Challenges:</strong>
  	<%= @board.challenges %>
	</div>

  <div class="w-100"></div>

  <div class="col-6">
  	<strong>Task:</strong>
  	<%= @board.task %>
	</div>
  <div class="col-6">
  	<strong>Resources:</strong>
  	<%= @board.resources %>
	</div>
</div>
</div>

<div class="show">
<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
</div>